body {
	font-size: 11pt;
	font-family: 'Open Sans', sans-serif;
	background: rgb(237, 237, 237);
	color: rgb(022, 022, 022);
	margin: 0;
}

body, strong, h1, h2, h3, h4, h5, h6 { font-weight: 300; }
input, main { box-sizing: border-box; }

a { color: rgb(042, 143, 143); text-decoration: none; }
a:hover { text-decoration: underline; }

label, blockquote { color: rgb(083, 083, 083); }
blockquote {
	border-left: 2px solid rgb(143, 143, 143);
	margin-left: 2pt;
	padding-left: 1rem;
	font-style: italic;
}

hr {
	border: none;
	border-bottom: 2pt solid rgb(230, 230, 230);
	margin: 2rem 0;
}

fieldset { border: none; margin: 0; padding: 0; }
label { cursor: pointer; }
label.block > input {
	display: block; width: 100%;
	margin-bottom: 1rem;
}
input {
	padding: 6pt;
	border: 1px solid rgb(202, 202, 202);
}
input:focus { background: rgb(247, 247, 247); }
input:focus, button:focus { outline-color: rgb(083, 083, 083); }
input:invalid { outline-color: red; border-color: red; }

button {
	color: white;
	background: rgb(042, 143, 143);
	border: 1pt solid white;
	border-radius: 2pt;
	padding: 7pt;
	cursor: pointer;
}

.align-left { float: left; margin-right: 6pt; margin-bottom: 3pt; }

.bg-danger { background: red; }

.text-right { text-align: right; }
.text-danger { color: red; }

main { padding: 1rem; display: block; }
@media all and (min-width: 31rem) {
	main { margin: 1.43rem auto; width: 31rem; }
}
