<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" />
</head>
<body>
	<div id="root"></div>
</body>
